.adhd-top-video {
    width: 100%;
    height: 100%;
    max-width: 1034px;
    max-height: 510px;
    margin: 0 auto;
    margin-bottom: 180px;
}
.adhd-top-video .adhd-top-video2 {
    position: relative;
    /* padding-top: 25px; */
    padding-bottom: 67.5%;
    height: 0;
}
.adhd-top-video iframe {
    box-sizing: border-box;
    background: url(../../images/wpa-laptop-shape.png) center center no-repeat;
    background-size: contain;
    padding: 8.9% 10.5% 11.8% 11.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}