.wpa-pro-services-content.wpa-blogs-descriptions{
    margin: unset;
    text-align: left;
}
.wpa-pro-services-content.wpa-blogs-descriptions p{
    text-align: left;
}

.wpa-blogs-descriptions h1{
    line-height: 0.8;
    margin-bottom: 20px;
}