.wpa-accordion-direcory .wpa-accordion-title{
    margin-bottom: 0px;
}
.wpa-accordion-direcory .wpa-accordion-title{
    background-color: #0e1132;
}
.wpa-accordion-direcory .wpa-accordion-title .logo{
    display: none;
}
.wpa-blog-list-posted-by{
    margin-top: -10px;
}